/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: #fe2673;
  --ion-color-primary-rgb: 114, 0, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-background-color: #000;
  --ion-text-color: #fff;
  
}


ion-button {
  --background-hover: #fff;
}